body, html {
  background: transparent;
  margin: 0px;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

body {
  overflow: visible;
  overflow-y: auto;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
}
