@import "../containers/Home/style.css";
@import "../components/AppLayout/style.css";
@import "../components/HomeBlock/style.css";

body, html {
  background: transparent;
  margin: 0px;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow: visible;
  overflow-y: auto;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
}
